services:

  # Step#02: move kafka-1 from kafka-cluster/docker-compose.yml
  kafka-1:
    image: apache/kafka:4.1.0
    hostname: kafka-1
    container_name: kafka-1
    restart: unless-stopped
    ports:
      - "29092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"

      KAFKA_LISTENERS: "PLAINTEXT://:19092,CONTROLLER://:9093,PLAINTEXT_HOST://:9092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-1:19092,PLAINTEXT_HOST://localhost:29092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093,2@kafka-2:9093"

      CLUSTER_ID: "ClusterAstonIntensiveDruyaned"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 2
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: 1

      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
    networks:
      - aston-intensive-druyaned-net

  # Step#02: move kafka-2 from kafka-cluster/docker-compose.yml
  kafka-2:
    image: apache/kafka:4.1.0
    hostname: kafka-2
    container_name: kafka-2
    restart: unless-stopped
    ports:
      - "39092:9092"
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: "broker,controller"

      KAFKA_LISTENERS: "PLAINTEXT://:19092,CONTROLLER://:9093,PLAINTEXT_HOST://:9092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-2:19092,PLAINTEXT_HOST://localhost:39092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093,2@kafka-2:9093"

      CLUSTER_ID: "ClusterAstonIntensiveDruyaned"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 2
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: 1

      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
    networks:
      - aston-intensive-druyaned-net

  # Step#05: PostgreSQL container config
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: t08_user_service
      POSTGRES_USER: t08_user_service
      POSTGRES_PASSWORD: secretic
    ports:
      - "55432:5432"
    volumes:
        - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U t08_user_service -d t08_user_service || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    networks:
      - aston-intensive-druyaned-net

  # Step#06: Config Service config
  t08-config-service:
    image: t08-config-service:1.0
    container_name: t08-config-service
    restart: unless-stopped
    ports:
      - "58888:8888"
    networks:
      - aston-intensive-druyaned-net

  # Step#06: Discovery Service (a.k.a Eureka Server) config
  t08-discovery-service:
    image: t08-discovery-service:1.0
    container_name: t08-discovery-service
    restart: unless-stopped
    depends_on:
      - t08-config-service
    ports:
      - "58761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - aston-intensive-druyaned-net

  # Step#07: User Service config
  t08-user-service:
    image: t08-user-service:1.0
    container_name: t08-user-service
    restart: unless-stopped
    depends_on:
      kafka-1:
        condition: service_started
      kafka-2:
        condition: service_started
      postgres:
        condition: service_healthy
      t08-config-service:
        condition: service_started
      t08-discovery-service:
        condition: service_started
    ports:
      - "58085:8085"
    environment:
      SPRING_PROFILES_ACTIVE: docker

      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/t08_user_service
      SPRING_DATASOURCE_USERNAME: t08_user_service
      SPRING_DATASOURCE_PASSWORD: secretic
    networks:
      - aston-intensive-druyaned-net

  # Step#07: Notification Service config
  t08-notification-service:
    image: t08-notification-service:1.0
    container_name: t08-notification-service
    restart: unless-stopped
    depends_on:
      - kafka-1
      - kafka-2
      - t08-config-service
      - t08-discovery-service
    ports:
      - "58086:8086"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - aston-intensive-druyaned-net

  # Step#08: API Gateway config
  t08-api-gateway:
    image: t08-api-gateway:1.0
    container_name: t08-api-gateway
    restart: unless-stopped
    depends_on:
      - t08-config-service
      - t08-discovery-service
      - t08-user-service
      - t08-notification-service
    ports:
      - "8080:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - aston-intensive-druyaned-net

networks:
  aston-intensive-druyaned-net:

volumes:
    postgres_data:
